.geral{
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
 
}

.container{
    width: 100%;
    flex-wrap: wrap;

}

*{
    margin: 0px;
    padding: 0px;
}

section{
    display: flex;
    justify-content: center;

}

.meu-menu{
   background-color: #1985d4;
display: flex;
width: 100%;
flex-wrap: wrap;

}
.menu{
    display: flex;
    justify-content: center;
    height: 150px;
    justify-content: space-between;
    background-color: #1985d4;  
    flex-wrap: wrap;
}
    
    a:hover{
        color: #1985d4;
        letter-spacing: 0.1px;
  
        transform: scale(1.1);
    }
.menu-left{
    display: flex;
    flex:2;
    font-family: "Open Sans", sans-serif;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;

}
.menu-right{
    display: flex;
    flex: 2;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
   
}


.titulo{
 
    justify-content: center;
    align-content: center;
    display: flex;
    font-size: xx-large;
    flex-wrap: wrap;
    color: #1985d4
    
}
.jogos{
    background-image:url(../image/WhatsApp\ Image\ 2024-09-23\ at\ 20.31.10.jpeg);
    height: 450px;
    justify-content: center;
    background-repeat: no-repeat;
    display: flex;
    background-size: 100% 100%;
    flex-wrap: wrap;
    margin-bottom: 200px;
}
.ultimos div img{
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
}
.ultimos div:hover{
    transform: scale(1.1);

    
}
.jogos1,.jogos2,.jogos3{
    flex:1;
    border-radius: 10%;
    margin-left: 10%;
    display: flex;
    width: 500px;
    flex-wrap: wrap;
    height: 350px;
    margin-top: 3%;
}
.patrocinadores{
    
    height: 500px;
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    background-image:url(../image/WhatsApp\ Image\ 2024-09-23\ at\ 20.31.10.jpeg);
    background-size: 100% 100%;
    flex-wrap: wrap;
    margin-bottom: 200px;
}
.patro{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 5%;
    width: 100%;
    height: 350px;
    margin-right: 10%;  
    border-radius: 10%;  
    flex-wrap: wrap;
    
}
.patro div a{
display: block;
width: 100%;
height: 100%;
}
.patro div img{
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
}
.patro div:hover{
    transform: scale(1.1);

}

.pat1,.pat2,.pat3{
    flex:1;
    border-radius: 10%;
    margin-left: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -2%;
      flex-wrap: wrap;
      height: 300px;
      width: 300px;
}
.pat1{
background-image: url(../image/WhatsApp\ Image\ 2024-09-20\ at\ 19.27.32.jpeg);
background-repeat: no-repeat;
background-size: 100% 100%;
flex-wrap: wrap;
}
.pat2{
background-image: url(../image/WhatsApp\ Image\ 2024-09-20\ at\ 19.27.33.jpeg);
background-repeat: no-repeat;
background-size: 100% 100%;
flex-wrap: wrap;
}
.pat3{
background-image: url(../image/WhatsApp\ Image\ 2024-09-20\ at\ 19.27.33\ \(1\).jpeg);
background-repeat: no-repeat;
background-size: 100% 100%;
flex-wrap: wrap;
}
.Jogadores{
   height: 400px;
   width: 100%;
   display: flex;
   justify-content: center;
   background-repeat: no-repeat;
   background-image:url(../image/WhatsApp\ Image\ 2024-09-23\ at\ 20.31.10.jpeg);
   background-size: 100% 100%;
   flex-wrap: wrap;
   margin-bottom: 200px;

}
.time div img{
     width: 100%;
     height: 100%;
     transition: transform 0.3s ease;

}
.time div:hover{
transform: scale(1.1);

}

.time{
    align-items: center;
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

.logo{
   height: 155px;
   width: 155px;
   border-radius: 100%;
  background-image: url(../image/1676989291150.png); 
  background-size: 170px 417px;
  background-position: 40% 53.9%;
  background-repeat: no-repeat;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  display: flex;

}

.links{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}
.news-left{

    align-content: center;
    justify-content: center;
    display: flex;
    font-size: 80px;
    font-family:'Times New Roman', Times, serif ;

    color: black;
    background-color: #1985d4;
    flex-wrap: wrap;
}
.titulo-news{
    align-content: center;
    justify-content: center;
    display: flex;
    background-image:url(../image/WhatsApp\ Image\ 2024-09-23\ at\ 20.31.10.jpeg);
    background-size: 100% 100%;
    flex-wrap: wrap;
}
a{
    margin:20px;
    font-size: 25px;
    color: aliceblue;
    text-decoration: none;

}
.jog1{
    background-image: url(../image/IMG-20240920-WA0116.jpg);
    background-size: 100% 100%;
    height: 200px;
    width: 200px;
    margin-top: 3%;
    margin: 10px;
    border-radius: 10%;
    background-repeat: no-repeat;
    flex-wrap: wrap;
}
.jog2{
    background-image: url(../image/IMG-20240920-WA0117.jpg);
    background-size: 100% 100%;
    height: 200px;
    width: 200px;
    margin-top: 5%;
    margin: 10px;
    border-radius: 10%;
    background-repeat: no-repeat;
    flex-wrap: wrap;
}
.jog3{
    background-image: url(../image/IMG-20240920-WA0118.jpg);
    background-size: 100% 100%;
    height: 200px;
    width: 200px;
    margin-top: 5%;
    margin: 10px;
    border-radius: 10%;
    background-repeat: no-repeat;
    flex-wrap: wrap;
}


.jogos1{
    background-image: url(../image/WhatsApp\ Image\ 2024-09-23\ at\ 19.36.37\ \(2\).jpeg);
   background-size: 100% 100%;
   background-repeat: no-repeat;
   flex-wrap: wrap;

}
.jogos2{
    background-image: url(../image/WhatsApp\ Image\ 2024-09-23\ at\ 19.36.37\ \(1\).jpeg);
    background-size: 100% 100%;
   background-repeat: no-repeat;
   flex-wrap: wrap;

}
.jogos3{
    background-image: url(../image/WhatsApp\ Image\ 2024-09-23\ at\ 19.36.37.jpeg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    flex-wrap: wrap;
}
.ultimos{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 1%;
    width: 100%;
    height: 100%;
    margin-right: 10%;  
    border-radius: 10%;  
    flex-wrap: wrap;

}
.rodape{
    display: flex;
    justify-content: center;
    background-color: black;
    width: 100%;
    color: white;
    flex-wrap: wrap;
    
   
}
.banner{
  background-image: url(../image/WhatsApp\ Image\ 2024-09-25\ at\ 20.36.42.jpeg);
    height: 1000px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    background-position: 0%;

    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 10%;
    margin-top: 10%;
    background-size: 100% 100%;
    flex-wrap: wrap;

}
.trofeus{
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.time{
    height: 400px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.titulos{
    background-color: white;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.NextJogos{
width: 100%;
height: 100px;
margin-top: 100px;
margin-bottom: 100px;
display: flex;
flex-wrap: wrap;
}
.contatos{
    background-color: black;
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.rodape2{
    background-color:black;
    color: white;
    font-size: 20px;
    height: 30px; 
    display: flex;
    flex-wrap: wrap;
}
.margem{
    margin-top: 10%;
    display: flex;
    flex-wrap: wrap;
}
.historia{
    width: 300px;
    height: 200px;
    justify-content: center;
    align-items: center;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    margin-left: 40%;
}
b{
    align-items: center;
    display: flex
}

@media(max-width: 768px){
    .container{
        display: none;
    }
}